.footer {
  background-color: rgb(249 250 251);
  border-top: 1px solid rgb(209 213 219);
  margin-top: auto;
}

.content {
  padding: 1.5rem 0;
  text-align: center;
  font-size: 0.875rem;
  color: rgb(75 85 99);
}

