.header {
  background-color: rgb(255 255 255);
  border-bottom: 1px solid rgb(209 213 219);
  position: sticky;
  top: 0;
  z-index: 50;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: rgb(37 99 235);
  text-decoration: none;
}

.nav {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.navLink {
  color: rgb(55 65 81);
  text-decoration: none;
  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.navLink:hover {
  color: rgb(37 99 235);
}

