.wrapper {
  width: 100%;
}

.label {
  display: block;
  font-size: 0.875rem;
  font-weight: 500;
  color: rgb(55 65 81);
  margin-bottom: 0.25rem;
}

.input {
  width: 100%;
  padding: 0.5rem 1rem;
  border: 1px solid rgb(209 213 219);
  border-radius: 0.5rem;
  outline: none;
  transition-property: border-color, background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  background-color: rgb(255 255 255);
  color: rgb(29 78 216);
}

.input:focus {
  border-color: transparent;
  box-shadow: 0 0 0 2px rgb(255 255 255), 0 0 0 4px rgb(59 130 246);
}

.input.error {
  border-color: rgb(239 68 68);
}

.errorMessage {
  margin-top: 0.25rem;
  font-size: 0.875rem;
  color: rgb(220 38 38);
}

