.focus-ring {
  outline: none;
  box-shadow: 0 0 0 2px rgb(255 255 255), 0 0 0 4px rgb(59 130 246);
}

.focus-ring-blue {
  outline: none;
  box-shadow: 0 0 0 2px rgb(255 255 255), 0 0 0 4px rgb(59 130 246);
}

.focus-ring-gray {
  outline: none;
  box-shadow: 0 0 0 2px rgb(255 255 255), 0 0 0 4px rgb(107 114 128);
}

.transition-colors {
  transition-property: color, background-color, border-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.border-default {
  border: 1px solid rgb(209 213 219);
}

.border-error {
  border: 1px solid rgb(239 68 68);
}

.border-top {
  border-top: 1px solid rgb(209 213 219);
}

.border-bottom {
  border-bottom: 1px solid rgb(209 213 219);
}

.text-gray-700 {
  color: rgb(55 65 81);
}

.text-gray-600 {
  color: rgb(75 85 99);
}

.text-gray-500 {
  color: rgb(107 114 128);
}

.text-gray-900 {
  color: rgb(17 24 39);
}

.text-blue-600 {
  color: rgb(37 99 235);
}

.text-red-600 {
  color: rgb(220 38 38);
}

.text-white {
  color: rgb(255 255 255);
}

.bg-white {
  background-color: rgb(255 255 255);
}

.bg-gray-50 {
  background-color: rgb(249 250 251);
}

.bg-gray-200 {
  background-color: rgb(229 231 235);
}

.bg-blue-600 {
  background-color: rgb(37 99 235);
}

.bg-blue-50 {
  background-color: rgb(239 246 255);
}

.hover-text-blue:hover {
  color: rgb(37 99 235);
}

.hover-bg-blue-700:hover {
  background-color: rgb(29 78 216);
}

.hover-bg-gray-300:hover {
  background-color: rgb(209 213 219);
}

.hover-bg-gray-50:hover {
  background-color: rgb(249 250 251);
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.shadow-md {
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

